<div class="govuk-grid-column-two-thirds">
  <opal-lib-govuk-back-link (clickEvent)="handleBack()" />
  <h1 class="govuk-heading-l">Order terms</h1>
  @if (cards().length === 0) {
    <p class="govuk-body">There are currently no order terms.</p>
  } @else {
    @for (card of cards(); track card.termId) {
      <section [attr.data-order-term-id]="card.termId" [attr.aria-label]="card.ariaLabel">
        <app-cases-create-casefile-order-term-card [card]="card">
          <ng-container actions>
            <li class="govuk-summary-card__action">
              <a
                class="govuk-link govuk-link--no-visited-state"
                [id]="'order-term-' + card.termId + '-change'"
                [href]="card.inputPath"
                (click)="$event.preventDefault(); handleChange(card.termId)"
              >
                <strong>Change</strong>
                <span class="govuk-visually-hidden">{{ card.title }}</span>
              </a>
            </li>
            <li class="govuk-summary-card__action">
              <a
                class="govuk-link govuk-link--no-visited-state"
                [id]="'order-term-' + card.termId + '-remove'"
                [href]="card.removePath"
                (click)="$event.preventDefault(); handleRemove(card.removePath)"
              >
                <strong>Remove</strong>
                <span class="govuk-visually-hidden">{{ card.title }}</span>
              </a>
            </li>
          </ng-container>
        </app-cases-create-casefile-order-term-card>
      </section>
    }
  }
  <div class="govuk-button-group">
    <opal-lib-govuk-button
      buttonId="create_casefile_order_terms_return"
      type="button"
      (buttonClickEvent)="handleBack()"
    >
      Return to case details
    </opal-lib-govuk-button>
    <opal-lib-govuk-button
      buttonId="create_casefile_order_terms_add"
      type="button"
      buttonClasses="govuk-button--secondary"
      (buttonClickEvent)="handleAddTerms()"
    >
      Add terms
    </opal-lib-govuk-button>
  </div>
</div>
