@use 'govuk-frontend/dist/govuk/settings/typography-font' with (
  $govuk-include-default-font-face: false
);
@use 'govuk-frontend/dist/govuk/helpers/colour' as govuk-colour;
@use 'govuk-frontend/dist/govuk/helpers/links' as govuk-links;
@use 'govuk-frontend/dist/govuk/helpers/typography' as govuk-typography;

.order-term-creditor-toggle {
  @include govuk-typography.govuk-font(19);
  @include govuk-links.govuk-link-common;

  border: 0;
  padding: 0;
  color: govuk-colour.govuk-functional-colour(link);
  background: transparent;
  cursor: pointer;

  &:hover {
    color: govuk-colour.govuk-functional-colour(link-hover);
  }

  &:active {
    color: govuk-colour.govuk-functional-colour(link-active);
  }
}
