<div class="govuk-grid-column-two-thirds">
  @if (amendmentInProgress()) {
    <opal-lib-govuk-cancel-link
      id="order-term-amendment-cancel"
      cancelLinkText="Cancel amendment"
      (linkClickEvent)="handleCancel()"
    />
  } @else {
    <opal-lib-govuk-back-link (clickEvent)="handleCancel()" />
  }
  @for (entry of pages(); track entry) {
    <app-cases-create-casefile-order-terms-input-form
      [page]="entry.page"
      [initialValues]="entry.values"
      [initialDirty]="entry.dirty"
      [frequency]="frequency()"
      (draftChange)="handleDraftChange($event)"
      (unsavedChanges)="handleUnsavedChanges($event)"
      (formSubmit)="handleFormSubmit($event)"
      (cancel)="handleCancel()"
    />
  }
</div>
