<div [id]="id()" tabindex="-1">
  <opal-lib-govuk-summary-card-list [summaryCardListId]="id()" [cardTitle]="section().title" [headingLevel]="2">
    <ng-container actions>
      @if (actionable()) {
        <li class="govuk-summary-card__action">
          <button
            [id]="id() + '-change'"
            type="button"
            class="govuk-link govuk-link--no-visited-state"
            [disabled]="disabled()"
            (click)="changeEvent.emit(section().id)"
          >
            Change <span class="govuk-visually-hidden">{{ section().title }}</span>
          </button>
        </li>
      }
    </ng-container>
    <ng-container content>
      @if (section().warning; as warning) {
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text"
            ><span class="govuk-visually-hidden">Warning</span>{{ warning }}</strong
          >
        </div>
      }
      <opal-lib-govuk-summary-list [summaryListId]="listId()">
        @for (row of section().rows; track row.id) {
          <div opal-lib-govuk-summary-list-row [summaryListId]="listId()" [summaryListRowId]="row.id">
            <ng-container name>{{ row.label }}</ng-container>
            <ng-container value>
              @for (value of row.values; track $index) {
                {{ value }}
                @if (!$last) {
                  <br />
                }
              }
            </ng-container>
          </div>
        }
      </opal-lib-govuk-summary-list>
      @if (section().bankRows.length) {
        <opal-lib-govuk-details [id]="bankId()" summaryText="Bank details">
          <opal-lib-govuk-summary-list [summaryListId]="bankListId()">
            @for (bankRow of section().bankRows; track bankRow.id) {
              <div opal-lib-govuk-summary-list-row [summaryListId]="bankListId()" [summaryListRowId]="bankRow.id">
                <ng-container name>{{ bankRow.label }}</ng-container>
                <ng-container value>
                  @for (value of bankRow.values; track $index) {
                    {{ value }}
                    @if (!$last) {
                      <br />
                    }
                  }
                </ng-container>
              </div>
            }
          </opal-lib-govuk-summary-list>
        </opal-lib-govuk-details>
      }
    </ng-container>
  </opal-lib-govuk-summary-card-list>
</div>
