@if (removalSucceeded()) {
  <div class="govuk-grid-column-full">
    <opal-lib-moj-alert
      id="create_casefile_order_term_creditor_removal_success"
      type="success"
      ariaLabel="Minor creditor removed."
      [showDismiss]="true"
      (dismissed)="dismissRemovalSuccess()"
    >
      <opal-lib-moj-alert-icon icon type="success" />
      <opal-lib-moj-alert-content content>
        <opal-lib-moj-alert-content-text>Minor creditor removed.</opal-lib-moj-alert-content-text>
      </opal-lib-moj-alert-content>
    </opal-lib-moj-alert>
  </div>
}
<div class="govuk-grid-column-two-thirds">
  @if (navigationFailed()) {
    <div
      class="govuk-error-summary"
      role="alert"
      aria-labelledby="create_casefile_order_term_creditor_navigation_error_title"
      tabindex="-1"
    >
      <h2 class="govuk-error-summary__title" id="create_casefile_order_term_creditor_navigation_error_title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">{{ safeNavigationErrorMessage }}</div>
    </div>
  }
  <app-cases-create-casefile-order-term-creditor-form
    [initialFormData]="initialFormData()"
    [applicantLabel]="applicantLabel()"
    [minorCreditors]="minorCreditors()"
    [majorCreditors]="majorCreditors"
    (formSubmit)="handleFormSubmit($event)"
    (unsavedChanges)="handleUnsavedChanges($event)"
    (cancel)="handleCancel()"
  />
</div>
