<div class="govuk-grid-column-two-thirds">
  <opal-lib-govuk-panel>
    <h1 #heading id="submission-confirmation-heading" class="govuk-panel__title" tabindex="-1">
      You’ve submitted this case for review
    </h1>
  </opal-lib-govuk-panel>
  <h2 id="submission-confirmation-next-steps" class="govuk-heading-l">Next steps</h2>
  <ul class="govuk-list">
    <li>
      <a id="create_casefile_confirmation_create_new" class="govuk-link" [routerLink]="caseTypeUrl">
        Create a new case
      </a>
    </li>
    <li>
      <a id="create_casefile_confirmation_in_review" class="govuk-link" [routerLink]="caseTypeUrl">
        See your cases in review
      </a>
    </li>
  </ul>
</div>
