<h1 #heading id="create_casefile_case_type_heading" class="govuk-heading-l" tabindex="-1">Create a case</h1>

<opal-lib-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)" />

<form (submit)="handleFormSubmit($event)">
  <div class="govuk-form-group" [class.govuk-form-group--error]="!!formControlErrorMessages[fieldNames.caseType]">
    <fieldset
      [id]="fieldNames.caseType"
      class="govuk-fieldset"
      [attr.aria-describedby]="
        formControlErrorMessages[fieldNames.caseType] ? fieldNames.caseType + '-error-message' : null
      "
    >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Select a case type</legend>
      @if (formControlErrorMessages[fieldNames.caseType]) {
        <p [id]="fieldNames.caseType + '-error-message'" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ formControlErrorMessages[fieldNames.caseType] }}
        </p>
      }

      <div class="govuk-radios">
        @for (option of caseTypeOptions; track option.key) {
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              [id]="fieldNames.caseType + '-' + option.key"
              [attr.name]="fieldNames.caseType"
              type="radio"
              [value]="option.value"
              [attr.value]="option.value"
              [attr.aria-controls]="option.value === caseTypes.REMO_IN ? applicantTypeConditionalId : null"
              [attr.aria-describedby]="
                option.value === caseTypes.REMO_IN ? fieldNames.caseType + '-remo-in-description' : null
              "
              [formControl]="caseTypeControl"
            />
            <label class="govuk-label govuk-radios__label" [for]="fieldNames.caseType + '-' + option.key">
              {{ option.value }}
            </label>
            @if (option.value === caseTypes.REMO_IN) {
              <span [id]="fieldNames.caseType + '-remo-in-description'" class="govuk-visually-hidden">
                Selecting REMO In reveals the required applicant type field.
              </span>
            }
          </div>

          @if (option.value === caseTypes.REMO_IN) {
            <div
              class="govuk-radios__conditional"
              [class.govuk-radios__conditional--hidden]="caseTypeControl.value !== caseTypes.REMO_IN"
              [id]="applicantTypeConditionalId"
            >
              <div
                class="govuk-form-group"
                [class.govuk-form-group--error]="!!formControlErrorMessages[fieldNames.applicantType]"
              >
                <label class="govuk-label govuk-label--s" [for]="fieldNames.applicantType">Select applicant type</label>
                @if (formControlErrorMessages[fieldNames.applicantType]) {
                  <p [id]="fieldNames.applicantType + '-error-message'" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ formControlErrorMessages[fieldNames.applicantType] }}
                  </p>
                }
                <select
                  [id]="fieldNames.applicantType"
                  [attr.name]="fieldNames.applicantType"
                  class="govuk-select"
                  [class.govuk-select--error]="!!formControlErrorMessages[fieldNames.applicantType]"
                  [attr.aria-invalid]="formControlErrorMessages[fieldNames.applicantType] ? 'true' : null"
                  [attr.aria-describedby]="
                    formControlErrorMessages[fieldNames.applicantType]
                      ? fieldNames.applicantType + '-error-message'
                      : null
                  "
                  [formControl]="applicantTypeControl"
                >
                  <option [ngValue]="null">Select</option>
                  @for (applicantType of applicantTypes; track applicantType) {
                    <option [ngValue]="applicantType">{{ applicantType }}</option>
                  }
                </select>
              </div>
            </div>
          }
        }
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    <button class="govuk-button govuk-!-margin-right-4" id="continue" type="submit">Continue</button>
    <span id="cancelCaseType">
      <opal-lib-govuk-cancel-link (linkClickEvent)="cancel.emit()" />
    </span>
  </div>
</form>
